@import 'vars/vars';

.header{
    background-color: $brown2;
    padding: 40px 0px;

    h1{
        font-size: $fontBig;
        color:$brown1;
    }
    
    span{
        color: $brown3;
    }

    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header__menu-burger{
    display: none;
}


@media(max-width: 428px){
    .header{
        width: 1150px;
    }

    .header__menu-burger{
        display: block;
    }
}