@import 'vars/vars';
@import 'mixins/button';

.list-todo{
    padding-top: 112px;
}

.list-todo_item{
    padding: 54px 85px;
    background-color: $brown4;
    border-radius: 34px;
    margin-bottom: 62px;
}

.list-todo_item-wrapper{
    display: flex;
    width: 870px;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 428px){
    .list-todo__wrapper{
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }
    .list-todo_item-wrapper{
       display: block;
    }
}


.list-todo_item-text{
    h1{
        font-size: $fontBig;
        color: $brown2;
        padding-bottom: 15px;
    }

    time{
        font-size: $fontMedium;
        color: $brown3;
    }
}

@media(max-width: 428px){
    time{
        display: none;
    }
}

.list-todo_item-actions{
    display: flex;

    svg{
        margin-right: 29px;
    }

    button{
        @include TodoBtn;
        margin-right: 21px;

        &:hover{
            background: $brown3;
            color:$brown1;
        }
    }
}

@media(max-width: 428px){
    .list-todo_item-actions{
        display: none;
    }
}


@media(max-width: 428px){
    .list-todo_item-actions-mobile__wrapper{
        display: flex;
        align-items: center;
    }
}



.list-todo_item-actions-mobile__wrapper{
    display: none;
}

.list-todo-actions-info{
    margin-right: 20px;
}

.list-todo-actions-info img{
    transform: scale(2);
}

.list-todo-actions-btn button{
    padding: 10px 31px;

    background: #AD8B74;
    border-radius: 11.5px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 10px;
    /* or 77% */


    color: #FFFBE9;

}

.list-todo-actions-del{
    margin-right: 28px;
}
