@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  font-family: Roboto;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

main {
  padding-top: 140px;
}

.settings-mobile {
  display: none;
  position: fixed;
  right: 10px;
}

@media (max-width: 428px) {
  .container {
    padding: 0px 150px;
  }

  main {
    padding-top: 0;
  }

  .all_delete-btn {
    display: none;
  }

  .settings-mobile {
    display: block;
  }
}
.all_delete-btn button {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding: 22px 65px;
  color: #FFFBE9;
  background-color: #AD8B74;
  font-size: 24px;
  border-radius: 34px;
  position: fixed;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background: rgba(173, 139, 116, 0.48);
  bottom: 0;
  left: 500px;
  right: 500px;
  margin-top: -25px;
}
.all_delete-btn button:hover {
  background-color: #AD8B74;
}

.settings-mobile img {
  width: 50px;
}

.settings-mobile__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings-item__main {
  z-index: 1;
  background: #AD8B74;
  border-radius: 50%;
  padding: 29px 15px;
}

.settings-item__del {
  -webkit-transform: translateX(90px);
          transform: translateX(90px);
}

.settings-item__add-todo {
  -webkit-transform: translateX(160px);
          transform: translateX(160px);
}

.settings-item__add-todo,
.settings-item__del {
  z-index: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: #CEAB93;
  padding: 8px 9px;
  border-radius: 50%;
  margin-right: 10px;
}

.animation-block {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header {
  background-color: #CEAB93;
  padding: 40px 0px;
}
.header h1 {
  font-size: 48px;
  color: #AD8B74;
}
.header span {
  color: #E3CAA5;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-burger {
  display: none;
}

@media (max-width: 428px) {
  .header {
    width: 1150px;
  }

  .header__menu-burger {
    display: block;
  }
}
.add-todo h1 {
  font-size: 36px;
  color: #CEAB93;
  padding-bottom: 36px;
}
.add-todo span {
  color: #E3CAA5;
}

.add-todo__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.add-todo__form input {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background: rgba(206, 171, 147, 0.35);
  border-radius: 38.5px;
  color: #CEAB93;
  font-size: 24px;
  padding: 25px 0px;
  padding-left: 50px;
  font-family: Inter;
  width: 770px;
  margin-right: 22px;
}
.add-todo__form input::-webkit-input-placeholder {
  color: #E3CAA5;
}
.add-todo__form input::-moz-placeholder {
  color: #E3CAA5;
}
.add-todo__form input:-ms-input-placeholder {
  color: #E3CAA5;
}
.add-todo__form input::-ms-input-placeholder {
  color: #E3CAA5;
}
.add-todo__form input::placeholder {
  color: #E3CAA5;
}
.add-todo__form input:focus {
  background-color: #AD8B74;
}
.add-todo__form button {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding: 22px 65px;
  color: #FFFBE9;
  background-color: #AD8B74;
  font-size: 24px;
  border-radius: 34px;
}
.add-todo__form button:hover {
  background: #FFFBE9;
  color: #AD8B74;
}

@media (max-width: 428px) {
  .add-todo {
    display: none;
  }
}
.list-todo {
  padding-top: 112px;
}

.list-todo_item {
  padding: 54px 85px;
  background-color: #FFFBE9;
  border-radius: 34px;
  margin-bottom: 62px;
}

.list-todo_item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 870px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 428px) {
  .list-todo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .list-todo_item-wrapper {
    display: block;
  }
}
.list-todo_item-text h1 {
  font-size: 48px;
  color: #CEAB93;
  padding-bottom: 15px;
}
.list-todo_item-text time {
  font-size: 24px;
  color: #E3CAA5;
}

@media (max-width: 428px) {
  time {
    display: none;
  }
}
.list-todo_item-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list-todo_item-actions svg {
  margin-right: 29px;
}
.list-todo_item-actions button {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding: 22px 65px;
  color: #FFFBE9;
  background-color: #AD8B74;
  font-size: 24px;
  border-radius: 34px;
  margin-right: 21px;
}
.list-todo_item-actions button:hover {
  background: #E3CAA5;
  color: #AD8B74;
}

@media (max-width: 428px) {
  .list-todo_item-actions {
    display: none;
  }
}
.list-todo_item-actions-mobile__wrapper {
  display: none;
}

@media (max-width: 428px) {
  .list-todo_item-actions-mobile__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.list-todo-actions-info {
  margin-right: 20px;
}

.list-todo-actions-info img {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.list-todo-actions-btn button {
  padding: 10px 31px;
  background: #AD8B74;
  border-radius: 11.5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 10px;
  /* or 77% */
  color: #FFFBE9;
}

.list-todo-actions-del {
  margin-right: 28px;
}