@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import 'vars/vars';
@import 'mixins/button';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    font-family: Roboto;
}


.container{
    width: 1040px;
    margin: 0 auto;
}

main{
    padding-top: 140px;
}

.settings-mobile{
    display: none; 
    position: fixed;
    right: 10px;
 }
 

@media(max-width: 428px){
    .container{
        padding: 0px 150px;
    }

    main{
        padding-top: 0;
    }

    .all_delete-btn{
        display: none;
    }

    .settings-mobile{
        display: block;
    }
}


.all_delete-btn button{
    @include TodoBtn;
    position: fixed;
    transform: translateY(-20px);
    background: rgba(173, 139, 116, 0.48);
    
    bottom: 0;
    left: 500px;
    right: 500px;

    margin-top: -25px;

    &:hover{
        background-color: $brown1;
    }
}

.settings-mobile img{   
    width: 50px;
}

.settings-mobile__wrapper{
    position: relative;

    display: flex;
    align-items: center;
}

.settings-item__main{
    z-index: 1;
    background: $brown1;
    border-radius: 50%;
    padding: 29px 15px;
}

.settings-item__del{
    transform: translateX(90px);
}

.settings-item__add-todo{
    transform: translateX(160px);
}

.settings-item__add-todo,
.settings-item__del{
    z-index: 0;
    transition: .5s ease-in-out;

    background-color: $brown2;
    padding: 8px 9px;
    border-radius: 50%;

    margin-right: 10px;
}

.animation-block{
    transform: translateX(0);
}



@import 'header';
@import 'addTodo';
@import 'listTodo';