//Цвета

$brown1: #AD8B74;
$brown2: #CEAB93;
$brown3: #E3CAA5;
$brown4: #FFFBE9;

//Размеры шрифтов

$fontBig: 48px;
$fontNormal: 36px;
$fontMedium: 24px;
$fontSmall: 18px;
$fontVerySmall: 14px;